<li class='diagram-editor-options' id='network-direction'>
<legend>Netwerk richting</legend>
<input id='network-direction-north' name='network-direction' type='radio' value='north'>
<label for='network-direction-north' id='label-network-direction-north'></label>
<input id='network-direction-east' name='network-direction' type='radio' value='east'>
<label for='network-direction-east' id='label-network-direction-east'></label>
<input id='network-direction-south' name='network-direction' type='radio' value='south'>
<label for='network-direction-south' id='label-network-direction-south'></label>
<input id='network-direction-west' name='network-direction' type='radio' value='west'>
<label for='network-direction-west' id='label-network-direction-west'></label>
</li>
