<li id="network-direction" class="diagram-editor-options">
  <legend>Netwerk richting</legend>

  <input id="dir-n" type="radio" value="north" name="network-direction">
  <label id="label-dir-n" for="dir-n"></label>

  <input id="dir-e" type="radio" value="east" name="network-direction">
  <label id="label-dir-e" for="dir-e"></label>

  <input id="dir-s" type="radio" value="south" name="network-direction">
  <label id="label-dir-s" for="dir-s"></label>

  <input id="dir-w" type="radio" value="west" name="network-direction">
  <label id="label-dir-w" for="dir-w"></label>

</li>