<li class='diagram-editor-options iets' id='flow-and-buoyage-direction'>
    <ul>
        <li id='flow-direction'>
            <legend>Stroomrichting</legend>
            <div class='buttongroup'>
                <input id='flow-direction-north' name='flow-direction' type='radio' value='north'>
                <label for='flow-direction-north' id='label-flow-direction-north'></label>
                <input id='flow-direction-east' name='flow-direction' type='radio' value='east'>
                <label for='flow-direction-east' id='label-flow-direction-east'></label>
                <input id='flow-direction-south' name='flow-direction' type='radio' value='south'>
                <label for='flow-direction-south' id='label-flow-direction-south'></label>
                <input id='flow-direction-west' name='flow-direction' type='radio' value='west'>
                <label for='flow-direction-west' id='label-flow-direction-west'></label>
            </div>
        </li>
        <li id='buoyage-direction'>
            <legend>Betonningsrichting</legend>
            <div class='buttongroup' id='buoyage-direction-north'>
                <input id='buoyage-direction-north-redright' name='buoyage-direction' type='radio'
                       value='upstream---down'>
                <label for='buoyage-direction-north-redright' id='label-buoyage-direction-north-redright'></label>
                <input id='buoyage-direction-north-redleft' name='buoyage-direction' type='radio'
                       value='upstream---down'>
                <label for='buoyage-direction-north-redleft' id='label-buoyage-direction-north-redleft'></label>
                <input id='buoyage-direction-north-none' name='buoyage-direction' type='radio' value='upstream---down'>
                <label for='buoyage-direction-north-none' id='label-buoyage-direction-north-none'></label>
            </div>
            <div class='buttongroup' id='buoyage-direction-east'>
                <input id='buoyage-direction-east-redright' name='buoyage-direction' type='radio'
                       value='upstream---down'>
                <label for='buoyage-direction-east-redright' id='label-buoyage-direction-east-redright'></label>
                <input id='buoyage-direction-east-redleft' name='buoyage-direction' type='radio'
                       value='upstream---down'>
                <label for='buoyage-direction-east-redleft' id='label-buoyage-direction-east-redleft'></label>
                <input id='buoyage-direction-east-none' name='buoyage-direction' type='radio' value='upstream---down'>
                <label for='buoyage-direction-east-none' id='label-buoyage-direction-east-none'></label>
            </div>
            <div class='buttongroup' id='buoyage-direction-south'>
                <input id='buoyage-direction-south-redright' name='buoyage-direction' type='radio'
                       value='upstream---down'>
                <label for='buoyage-direction-south-redright' id='label-buoyage-direction-south-redright'></label>
                <input id='buoyage-direction-south-redleft' name='buoyage-direction' type='radio'
                       value='upstream---down'>
                <label for='buoyage-direction-south-redleft' id='label-buoyage-direction-south-redleft'></label>
                <input id='buoyage-direction-south-none' name='buoyage-direction' type='radio' value='upstream---down'>
                <label for='buoyage-direction-south-none' id='label-buoyage-direction-south-none'></label>
            </div>
            <div class='buttongroup' id='buoyage-direction-west'>
                <input id='buoyage-direction-west-redright' name='buoyage-direction' type='radio'
                       value='upstream---down'>
                <label for='buoyage-direction-west-redright' id='label-buoyage-direction-west-redright'></label>
                <input id='buoyage-direction-west-redleft' name='buoyage-direction' type='radio'
                       value='upstream---down'>
                <label for='buoyage-direction-west-redleft' id='label-buoyage-direction-west-redleft'></label>
                <input id='buoyage-direction-west-none' name='buoyage-direction' type='radio' value='upstream---down'>
                <label for='buoyage-direction-west-none' id='label-buoyage-direction-west-none'></label>
            </div>
        </li>
    </ul>
</li>
